[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
psycopg2-binary = "*"
flask-session = "*"
pytz = "*"
openpyxl = "*"
gunicorn = "*"
submit50 = "*"

[dev-packages]

[requires]
python_version = "3.8"
