{% extends "layout.html" %}

{% block title %}
    Main page
{% endblock %}

{% block main %}

    <div id="carouselTravel" class="carousel slide carousel-fade carousel-container" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselTravel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselTravel" data-bs-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item pic-one active">
                <div class="carousel-caption d-md-block">
                    <div class="caption-left">
                        <div class="caption-txt">
                            <h4 class="logbook">LogBook</h4>
                            <h1 class="capt-head">FREE TOOL</h1>
                            <h5 id="capt">LogBook is created to help you keep track of your job-related rides for the future taxation.</h5>
                        </div>
                        <div class="sticky-btn">
                            <p class="capt-btn"><a href="/register" class="btn btn-primary" title="Try for free" rel="nofollow, noindex">Try for free</a></p>
                        </div>
                    </div>
                </div>
                <!-- <img src="..." class="d-block w-100" alt="..."> -->
            </div>
            <div class="carousel-item pic-two">
                <div class="carousel-caption d-md-block">
                    <div class="caption-left">
                        <div class="caption-txt">
                            <h4 class="logbook">LogBook</h4>
                            <h1 class="capt-head">EASY TO USE</h1>
                            <h5 id="capt">Maintain logs for several different cars at the same time. Import your table as an Excel-type document.</h5>
                        </div>  
                        <div class="sticky-btn">
                            <p class="capt-btn"><a href="/register" class="btn btn-primary" title="Try for free" rel="nofollow, noindex">Try for free</a></p>
                        </div>
                    </div>
                </div>
                <!--<img src="..." class="d-block w-100" alt="..."> -->
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselTravel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </a>
        <a class="carousel-control-next" href="#carouselTravel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"></span>
        </a>
    </div>

    <div class="container story-cont">
        <div class="story-column">
            <div class="story-head">
                <h3>Easy to use</h3>
            </div>
            <div class="story-txt">
                <p>We made it easy to keep your driving log. Add a vehicle and provide its latest mileage record and the service will automatically update it after adding a new ride.</p>
            </div>
        </div>
        <div class="story-column">
            <div class="story-head">
                <h3>More vehicles</h3>
            </div>
            <div class="story-txt">
                <p>Add one or more cars to the tabel. Save tables in PDF or Excel format for the chosen period. </p>
            </div>
        </div>
        <div class="story-column">
            <div class="story-head">
                <h3>Constantly developing service</h3>
            </div>
            <div class="story-txt">
                <p>This service is made as a final project of Harvards CS50 course. We are constantly developing our service.</p>
            </div>
        </div>
    </div>

{% endblock %}