{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <h3 class="form-header">Login to the LogBook</h3>
    <form action="login" method="post" class="form-box">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address:</label>
            <input type="email" class="form-control" id="email" name="email"  autocomplete="off" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" autocomplete="off" type="password">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>

{% endblock %}

    